# <center>Big Data &ndash; Exercises</center>
## <center>Fall 2022 &ndash; Week 13 &ndash; ETH Zurich</center>
## <center>Cubes</center>

## Introduction

In this exercise, we analyze the sales data of a fictious wholesale supplier
(taken from the database system benchmark [TPC-H](http://www.tpc.org/tpch/))
in our favorite spreadsheet application. Then, we will use SQL to query the data shape cube. 
A cube is a collection of numeric data organized by arrays of discrete identifiers (Janus and FoucheÃÅ, 2009). It is quite natural, as we see in the lectures, to map cubes to tables.

## 1. The TPC-H Dataset as OLAP Cube

Let us get familiar with the dataset.
It consists of orders made, each of which is made by a customer, and consists of lineitems.
Think of an order as a shopping cart with several items in it.
The items of an order are parts that may be provided by different suppliers.
Suppliers and customers come from different nations, which are grouped into regions of the world.
The following figure illustrates the schema of the TPC-H dataset.
<br>

![Schema of the TPC-H dataset](./tpch.png)


### Task 1

1. Which table(s) of the TPC-H schema is/are the fact table(s)?
1. What is/are the measure(s)?
1. What are the dimensions?
1. What do you call this flavor of OLAP?

### Solutions

...

## 2. Analyzing TPC-H with a Pivot Table

Open local [Exercise13_OLAP_Cubes](./Exercise13_OLAP_Cubes.xls) with your favorite spreadsheet application.
The file contains a universal table (a fully denormalized table) of a small TPC-H dataset.
The schema has been modified slightly to make analysis in a spreadsheet application easier:
The two precomputed measures revenue and cost
as well as the hierarchy of time dimensions in the attribute *orderdate* have been added in the materialized form
and some other attributes have been removed.

You may need to look up how to use pivot tables in your spreadsheet application.

1. Microsoft Excel: [PivotTable](https://support.office.com/en-us/article/Create-a-PivotTable-to-analyze-worksheet-data-a9a84538-bfe9-40a9-a8e9-f99134456576)
1. Google Sheets  : [pivot tables](https://support.google.com/docs/answer/1272900?co=GENIE.Platform%3DDesktop&hl=en)
1. Open Office    : [DataPilot](https://openoffice.blogs.com/openoffice/2006/11/data_pilots_in_.html)

### Task 1: Discussion

Discuss the terms "slice and dice", "drill down", "roll up", and "pivoting".

### Solution: Discussion

...

### Task 2: Create the following pivot tables:

1. Show how much revenue suppliers from different regions (as columns) produced in every year (as rows).
1. Show how much revenue suppliers from nations of Africa (as columns) produced in every year (as rows).
1. Show how much revenue suppliers from nations of Africa produced in every quarter of every year.
1. Show how much revenue suppliers from nations of Africa produced in every week of every month of Q1 in 1996.
1. Show how much revenue suppliers from nations of Africa produced in every year with "urgent" orders.
1. Show the average order quantity for parts from suppliers from nations of Africa per year.
1. Show how much revenue suppliers from nations of Africa (as rows) produced in every quarter of every year (as columns).

### Solution:
...

## 3. OLAP Cubes and SQL

### Part 1: SQL

Write SQL queries for the PivotTables from Question 2.

#### Notes

* Assume that the revenue is calculated as `olquantity * partretailprice * (1-oldiscount)`.
* To get the year or quarter from a date in PostgreSQL, you can use [`DATE_PART ('field', date )  `](https://www.postgresqltutorial.com/postgresql-date_part/). Note that the field is case-insensitive. You can write `DATE_PART('YEAR', date)` or `DATE_PART('year', date)`, which are equivalent. 

#### Database Set-up

Please wait for the message `PostgreSQL init process complete; ready for start up` before proceeding!
As before, we set up our connection to the database and enable use of `%sql` and `%%sql`.

In [3]:
server  ='postgres'
user    ='postgres'
password='bigdataclass'
database='tpch-db'

connection_string = f'postgresql://{user}:{password}@{server}:5432/{database}'

In [4]:
%reload_ext sql
%sql $connection_string

Check the tables in TPC-H. They are empty for the moment.

In [5]:
%%sql 
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'public';

 * postgresql://postgres:***@postgres:5432/tpch-db
8 rows affected.

[('region',),
 ('nation',),
 ('supplier',),
 ('part',),
 ('supplypart',),
 ('customer',),
 ('orders',),
 ('orderline',)]

Populate the tables in TPC-H with data from .tbl files

In [6]:
import numpy as np
import os
import pandas
import sqlalchemy
import sys

tables = [ # Order is important because of FKs
        'region',
        'nation',
        'supplier',
        'part',
        'supplypart',
        'customer',
        'orders',
        'orderline'
        ]

engine = sqlalchemy.create_engine(connection_string)

for table in tables:
    # Find column names
    columns = engine.execute('SELECT * FROM {0}'.format(table)).keys()

    # Load content
    data = pandas.read_csv('docker/postgres/tpch/data/{0}.tbl'.format(table), sep='|', header=None, names=columns)
    msg = 'Loading table "{0}": {1}% done\r'
    for idx, chunk in enumerate(np.array_split(data, 100)):
        sys.stdout.write(msg.format(table, idx))
        chunk.to_sql(name=table, if_exists='append', con=engine, index=False, method='multi')
    print(msg.format(table, str(100)))

Loading table "region": 100% done
Loading table "nation": 100% done
Loading table "supplier": 100% done
Loading table "part": 100% done
Loading table "supplypart": 100% done
Loading table "customer": 100% done
Loading table "orders": 100% done
Loading table "orderline": 100% done

First however, we define the fact table using a WITH statement (copy this at the beginning of all other queries)

In [7]:
%%sql
WITH cube AS (
    SELECT olquantity, partretailprice, oldiscount,
           orderdate, nationname, regionname, orderpriority,
           olquantity * partretailprice * (1-oldiscount) AS revenue,
           DATE_PART('year', orderdate) AS orderyear,
           DATE_PART('quarter', orderdate) AS orderquarter,
           DATE_PART('month', orderdate) AS ordermonth,
           DATE_PART('week', orderdate) AS orderweek
    FROM orderline ol
    JOIN orders o      ON ol.orderid = o.orderid
    JOIN supplypart sp ON ol.partId = sp.partId AND ol.supplierId = sp.supplierId
    JOIN part p        ON sp.partId = p.partId
    JOIN supplier s    ON sp.supplierId = s.supplierId
    JOIN nation sn     ON s.nationId = sn.nationId
    JOIN region sr     ON sn.regionId = sr.regionId
)
SELECT * FROM cube LIMIT 10

 * postgresql://postgres:***@postgres:5432/tpch-db
10 rows affected.

[(Decimal('17.00'), Decimal('1453.55'), Decimal('0.04'), datetime.date(1996, 1, 2), 'MOZAMBIQUE               ', 'AFRICA                   ', '5-LOW          ', Decimal('23721.936000'), 1996.0, 1.0, 1.0, 1.0),
 (Decimal('36.00'), Decimal('1574.67'), Decimal('0.09'), datetime.date(1996, 1, 2), 'CHINA                    ', 'ASIA                     ', '5-LOW          ', Decimal('51586.189200'), 1996.0, 1.0, 1.0, 1.0),
 (Decimal('8.00'), Decimal('1537.63'), Decimal('0.10'), datetime.date(1996, 1, 2), 'EGYPT                    ', 'MIDDLE EAST              ', '5-LOW          ', Decimal('11070.936000'), 1996.0, 1.0, 1.0, 1.0),
 (Decimal('28.00'), Decimal('922.02'), Decimal('0.09'), datetime.date(1996, 1, 2), 'KENYA                    ', 'AFRICA                   ', '5-LOW          ', Decimal('23493.069600'), 1996.0, 1.0, 1.0, 1.0),
 (Decimal('24.00'), Decimal('1141.24'), Decimal('0.10'), datetime.date(1996, 1, 2), 'INDONESIA                ', 'ASIA                     ', '5-LOW          ', Decimal('24650.784000'), 1996.0, 1.0, 1.0, 1.0),
 (Decimal('32.00'), Decimal('1057.15'), Decimal('0.07'), datetime.date(1996, 1, 2), 'UNITED STATES            ', 'AMERICA                  ', '5-LOW          ', Decimal('31460.784000'), 1996.0, 1.0, 1.0, 1.0),
 (Decimal('38.00'), Decimal('963.06'), Decimal('0.00'), datetime.date(1996, 12, 1), 'GERMANY                  ', 'EUROPE                   ', '1-URGENT       ', Decimal('36596.280000'), 1996.0, 4.0, 12.0, 48.0),
 (Decimal('45.00'), Decimal('943.04'), Decimal('0.06'), datetime.date(1993, 10, 14), 'UNITED STATES            ', 'AMERICA                  ', '5-LOW          ', Decimal('39890.592000'), 1993.0, 4.0, 10.0, 41.0),
 (Decimal('49.00'), Decimal('1091.19'), Decimal('0.10'), datetime.date(1993, 10, 14), 'FRANCE                   ', 'EUROPE                   ', '5-LOW          ', Decimal('48121.479000'), 1993.0, 4.0, 10.0, 41.0),
 (Decimal('27.00'), Decimal('1186.28'), Decimal('0.06'), datetime.date(1993, 10, 14), 'INDIA                    ', 'ASIA                     ', '5-LOW          ', Decimal('30107.786400'), 1993.0, 4.0, 10.0, 41.0)]

Note that, for the purpose of this exercise, we dropped some dimensions of the cube because none of the queries uses them. Also, we materialize some hierarchy levels of the `orderdate` dimension in order to make the subsequent queries more readable. This makes them *look* like they were new dimensions -- conceptually, they are not! (They are, well, levels of a hierarchy of the `orderdate` dimension.)

OK, you are good to go. Use the SQL cell below and add more cells as you need.

Note that the numbers you obtain with the SQL queries should not be identical to those in the pivot tables in Task2, because the data we have in the DB have more rows in its fact table.

#### Your Answers

#### 1. Show how much revenue suppliers from different regions (as columns) produced in every year (as rows).

In [18]:
%%sql
WITH cube AS (
    SELECT olquantity, partretailprice, oldiscount,
           orderdate, nationname, regionname, orderpriority,
           olquantity * partretailprice * (1-oldiscount) AS revenue,
           DATE_PART('year', orderdate) AS orderyear,
           DATE_PART('quarter', orderdate) AS orderquarter,
           DATE_PART('month', orderdate) AS ordermonth,
           DATE_PART('week', orderdate) AS orderweek
    FROM orderline ol
    JOIN orders o      ON ol.orderid = o.orderid
    JOIN supplypart sp ON ol.partId = sp.partId AND ol.supplierId = sp.supplierId
    JOIN part p        ON sp.partId = p.partId
    JOIN supplier s    ON sp.supplierId = s.supplierId
    JOIN nation sn     ON s.nationId = sn.nationId
    JOIN region sr     ON sn.regionId = sr.regionId
)
SELECT regionname, orderyear, SUM(revenue)
FROM cube 
GROUP BY regionname, orderyear
--without the following part, no nulls are given
UNION ALL (
    SELECT regionname, NULL, sum(revenue)
    FROM cube
    GROUP BY regionname
) UNION ALL (
    SELECT NULL, orderyear, sum(revenue)
    FROM cube
    GROUP BY orderyear
) UNION ALL (
    SELECT NULL, NULL, sum(revenue)
    FROM cube
    -- if not commented, results in 82 rows rather than 48
    -- GROUP BY regionname, orderyear
)

 * postgresql://postgres:***@postgres:5432/tpch-db
48 rows affected.

[('MIDDLE EAST              ', 1997.0, Decimal('38135442.015500')),
 ('ASIA                     ', 1994.0, Decimal('85668222.060300')),
 ('ASIA                     ', 1993.0, Decimal('85616278.511700')),
 ('EUROPE                   ', 1994.0, Decimal('65453630.165300')),
 ('MIDDLE EAST              ', 1994.0, Decimal('37974762.627600')),
 ('ASIA                     ', 1992.0, Decimal('83435906.571600')),
 ('EUROPE                   ', 1995.0, Decimal('60688787.974900')),
 ('AMERICA                  ', 1994.0, Decimal('63209420.620100')),
 ('MIDDLE EAST              ', 1998.0, Decimal('20663148.564400')),
 ('EUROPE                   ', 1998.0, Decimal('33564468.974400')),
 ('MIDDLE EAST              ', 1993.0, Decimal('36427916.203800')),
 ('ASIA                     ', 1998.0, Decimal('50359356.312800')),
 ('AFRICA                   ', 1992.0, Decimal('65268216.729500')),
 ('AMERICA                  ', 1998.0, Decimal('37618811.725900')),
 ('AMERICA                  ', 1997.0, Decimal('59919519.158900')),
 ('ASIA                     ', 1997.0, Decimal('83672230.314100')),
 ('ASIA                     ', 1995.0, Decimal('84978697.925300')),
 ('AMERICA                  ', 1993.0, Decimal('64204286.247000')),
 ('AMERICA                  ', 1996.0, Decimal('61967252.748200')),
 ('EUROPE                   ', 1993.0, Decimal('64131945.382800')),
 ('AFRICA                   ', 1993.0, Decimal('66164509.097800')),
 ('MIDDLE EAST              ', 1995.0, Decimal('37477278.571500')),
 ('AFRICA                   ', 1998.0, Decimal('37799441.183500')),
 ('EUROPE                   ', 1997.0, Decimal('61713847.802200')),
 ('AFRICA                   ', 1995.0, Decimal('60191092.423800')),
 ('AMERICA                  ', 1995.0, Decimal('60574637.206600')),
 ('MIDDLE EAST              ', 1996.0, Decimal('37385268.141500')),
 ('EUROPE                   ', 1992.0, Decimal('62009679.643000')),
 ('AFRICA                   ', 1997.0, Decimal('64551600.198700')),
 ('MIDDLE EAST              ', 1992.0, Decimal('35338119.828000')),
 ('AFRICA                   ', 1994.0, Decimal('63964877.706800')),
 ('ASIA                     ', 1996.0, Decimal('85827577.610600')),
 ('AMERICA                  ', 1992.0, Decimal('62430452.565600')),
 ('AFRICA                   ', 1996.0, Decimal('63326113.003600')),
 ('EUROPE                   ', 1996.0, Decimal('63422146.276600')),
 ('MIDDLE EAST              ', None, Decimal('243401935.952300')),
 ('AMERICA                  ', None, Decimal('409924380.272300')),
 ('ASIA                     ', None, Decimal('559558269.306400')),
 ('EUROPE                   ', None, Decimal('410984506.219200')),
 ('AFRICA                   ', None, Decimal('421265850.343700')),
 (None, 1992.0, Decimal('308482375.337700')),
 (None, 1997.0, Decimal('307992639.489400')),
 (None, 1994.0, Decimal('316270913.180100')),
 (None, 1996.0, Decimal('311928357.780500')),
 (None, 1995.0, Decimal('303910494.102100')),
 (None, 1993.0, Decimal('316544935.443100')),
 (None, 1998.0, Decimal('180005226.761000')),
 (None, None, Decimal('2045134942.093900'))]

#### 2. Show how much revenue suppliers from nations of Africa produced in every year.

In [27]:
%%sql
WITH cube AS (
    SELECT olquantity, partretailprice, oldiscount,
           orderdate, nationname, regionname, orderpriority,
           olquantity * partretailprice * (1-oldiscount) AS revenue,
           DATE_PART('year', orderdate) AS orderyear,
           DATE_PART('quarter', orderdate) AS orderquarter,
           DATE_PART('month', orderdate) AS ordermonth,
           DATE_PART('week', orderdate) AS orderweek
    FROM orderline ol
    JOIN orders o      ON ol.orderid = o.orderid
    JOIN supplypart sp ON ol.partId = sp.partId AND ol.supplierId = sp.supplierId
    JOIN part p        ON sp.partId = p.partId
    JOIN supplier s    ON sp.supplierId = s.supplierId
    JOIN nation sn     ON s.nationId = sn.nationId
    JOIN region sr     ON sn.regionId = sr.regionId
)
SELECT nationname, orderyear, SUM(revenue)
FROM cube
WHERE regionname = 'AFRICA'
GROUP BY CUBE(orderyear, nationname)
ORDER BY nationname, orderyear

 * postgresql://postgres:***@postgres:5432/tpch-db
48 rows affected.

[('ALGERIA                  ', 1992.0, Decimal('8568744.120100')),
 ('ALGERIA                  ', 1993.0, Decimal('9816982.595600')),
 ('ALGERIA                  ', 1994.0, Decimal('9097585.234900')),
 ('ALGERIA                  ', 1995.0, Decimal('9168430.092400')),
 ('ALGERIA                  ', 1996.0, Decimal('8137148.275900')),
 ('ALGERIA                  ', 1997.0, Decimal('10714639.429400')),
 ('ALGERIA                  ', 1998.0, Decimal('5554601.734600')),
 ('ALGERIA                  ', None, Decimal('61058131.482900')),
 ('ETHIOPIA                 ', 1992.0, Decimal('9077948.018000')),
 ('ETHIOPIA                 ', 1993.0, Decimal('8537000.021400')),
 ('ETHIOPIA                 ', 1994.0, Decimal('8739224.753800')),
 ('ETHIOPIA                 ', 1995.0, Decimal('8584391.722200')),
 ('ETHIOPIA                 ', 1996.0, Decimal('7961609.653600')),
 ('ETHIOPIA                 ', 1997.0, Decimal('9363790.074800')),
 ('ETHIOPIA                 ', 1998.0, Decimal('5667068.474900')),
 ('ETHIOPIA                 ', None, Decimal('57931032.718700')),
 ('KENYA                    ', 1992.0, Decimal('18844592.312000')),
 ('KENYA                    ', 1993.0, Decimal('18350385.061000')),
 ('KENYA                    ', 1994.0, Decimal('18141727.756000')),
 ('KENYA                    ', 1995.0, Decimal('15906061.428800')),
 ('KENYA                    ', 1996.0, Decimal('19400001.386900')),
 ('KENYA                    ', 1997.0, Decimal('18496235.758100')),
 ('KENYA                    ', 1998.0, Decimal('11739649.018800')),
 ('KENYA                    ', None, Decimal('120878652.721600')),
 ('MOROCCO                  ', 1992.0, Decimal('5808581.643900')),
 ('MOROCCO                  ', 1993.0, Decimal('6731663.789700')),
 ('MOROCCO                  ', 1994.0, Decimal('6611639.208700')),
 ('MOROCCO                  ', 1995.0, Decimal('6518612.188500')),
 ('MOROCCO                  ', 1996.0, Decimal('6693622.901500')),
 ('MOROCCO                  ', 1997.0, Decimal('6137892.064500')),
 ('MOROCCO                  ', 1998.0, Decimal('2930449.346100')),
 ('MOROCCO                  ', None, Decimal('41432461.142900')),
 ('MOZAMBIQUE               ', 1992.0, Decimal('22968350.635500')),
 ('MOZAMBIQUE               ', 1993.0, Decimal('22728477.630100')),
 ('MOZAMBIQUE               ', 1994.0, Decimal('21374700.753400')),
 ('MOZAMBIQUE               ', 1995.0, Decimal('20013596.991900')),
 ('MOZAMBIQUE               ', 1996.0, Decimal('21133730.785700')),
 ('MOZAMBIQUE               ', 1997.0, Decimal('19839042.871900')),
 ('MOZAMBIQUE               ', 1998.0, Decimal('11907672.609100')),
 ('MOZAMBIQUE               ', None, Decimal('139965572.277600')),
 (None, 1992.0, Decimal('65268216.729500')),
 (None, 1993.0, Decimal('66164509.097800')),
 (None, 1994.0, Decimal('63964877.706800')),
 (None, 1995.0, Decimal('60191092.423800')),
 (None, 1996.0, Decimal('63326113.003600')),
 (None, 1997.0, Decimal('64551600.198700')),
 (None, 1998.0, Decimal('37799441.183500')),
 (None, None, Decimal('421265850.343700'))]

#### 3. Show how much revenue suppliers from nations of Africa produced in every quarter of every year.

In [30]:
%%sql
WITH cube AS (
    SELECT olquantity, partretailprice, oldiscount,
           orderdate, nationname, regionname, orderpriority,
           olquantity * partretailprice * (1-oldiscount) AS revenue,
           DATE_PART('YEAR', orderdate) AS orderyear,
           DATE_PART('QUARTER', orderdate) AS orderquarter,
           DATE_PART('MONTH', orderdate) AS ordermonth,
           DATE_PART('WEEK', orderdate) AS orderweek
    FROM orderline ol
    JOIN orders o      ON ol.orderid = o.orderid
    JOIN supplypart sp ON ol.partId = sp.partId AND ol.supplierId = sp.supplierId
    JOIN part p        ON sp.partId = p.partId
    JOIN supplier s    ON sp.supplierId = s.supplierId
    JOIN nation sn     ON s.nationId = sn.nationId
    JOIN region sr     ON sn.regionId = sr.regionId
)
SELECT nationname, orderquarter, orderyear, SUM(revenue)
FROM cube
WHERE regionname = 'AFRICA'
GROUP BY CUBE (orderquarter, orderyear, nationname)
ORDER BY (nationname, orderquarter, orderyear)

 * postgresql://postgres:***@postgres:5432/tpch-db
234 rows affected.

[('ALGERIA                  ', 1.0, 1992.0, Decimal('1958124.794000')),
 ('ALGERIA                  ', 1.0, 1993.0, Decimal('1850076.134000')),
 ('ALGERIA                  ', 1.0, 1994.0, Decimal('2254658.543100')),
 ('ALGERIA                  ', 1.0, 1995.0, Decimal('1710963.101200')),
 ('ALGERIA                  ', 1.0, 1996.0, Decimal('1743882.334200')),
 ('ALGERIA                  ', 1.0, 1997.0, Decimal('3113433.200000')),
 ('ALGERIA                  ', 1.0, 1998.0, Decimal('2224586.931800')),
 ('ALGERIA                  ', 1.0, None, Decimal('14855725.038300')),
 ('ALGERIA                  ', 2.0, 1992.0, Decimal('2375436.331600')),
 ('ALGERIA                  ', 2.0, 1993.0, Decimal('2194947.127800')),
 ('ALGERIA                  ', 2.0, 1994.0, Decimal('2085164.972900')),
 ('ALGERIA                  ', 2.0, 1995.0, Decimal('2469872.647800')),
 ('ALGERIA                  ', 2.0, 1996.0, Decimal('1935865.051800')),
 ('ALGERIA                  ', 2.0, 1997.0, Decimal('2832054.009900')),
 ('ALGERIA                  ', 2.0, 1998.0, Decimal('1924962.809200')),
 ('ALGERIA                  ', 2.0, None, Decimal('15818302.951000')),
 ('ALGERIA                  ', 3.0, 1992.0, Decimal('2310787.536700')),
 ('ALGERIA                  ', 3.0, 1993.0, Decimal('3305010.816700')),
 ('ALGERIA                  ', 3.0, 1994.0, Decimal('2387777.333300')),
 ('ALGERIA                  ', 3.0, 1995.0, Decimal('2323025.573100')),
 ('ALGERIA                  ', 3.0, 1996.0, Decimal('2406317.327000')),
 ('ALGERIA                  ', 3.0, 1997.0, Decimal('2541358.475800')),
 ('ALGERIA                  ', 3.0, 1998.0, Decimal('1405051.993600')),
 ('ALGERIA                  ', 3.0, None, Decimal('16679329.056200')),
 ('ALGERIA                  ', 4.0, 1992.0, Decimal('1924395.457800')),
 ('ALGERIA                  ', 4.0, 1993.0, Decimal('2466948.517100')),
 ('ALGERIA                  ', 4.0, 1994.0, Decimal('2369984.385600')),
 ('ALGERIA                  ', 4.0, 1995.0, Decimal('2664568.770300')),
 ('ALGERIA                  ', 4.0, 1996.0, Decimal('2051083.562900')),
 ('ALGERIA                  ', 4.0, 1997.0, Decimal('2227793.743700')),
 ('ALGERIA                  ', 4.0, None, Decimal('13704774.437400')),
 ('ALGERIA                  ', None, 1992.0, Decimal('8568744.120100')),
 ('ALGERIA                  ', None, 1993.0, Decimal('9816982.595600')),
 ('ALGERIA                  ', None, 1994.0, Decimal('9097585.234900')),
 ('ALGERIA                  ', None, 1995.0, Decimal('9168430.092400')),
 ('ALGERIA                  ', None, 1996.0, Decimal('8137148.275900')),
 ('ALGERIA                  ', None, 1997.0, Decimal('10714639.429400')),
 ('ALGERIA                  ', None, 1998.0, Decimal('5554601.734600')),
 ('ALGERIA                  ', None, None, Decimal('61058131.482900')),
 ('ETHIOPIA                 ', 1.0, 1992.0, Decimal('2268245.986900')),
 ('ETHIOPIA                 ', 1.0, 1993.0, Decimal('1856033.387500')),
 ('ETHIOPIA                 ', 1.0, 1994.0, Decimal('2121250.672100')),
 ('ETHIOPIA                 ', 1.0, 1995.0, Decimal('2151888.944600')),
 ('ETHIOPIA                 ', 1.0, 1996.0, Decimal('1616989.673000')),
 ('ETHIOPIA                 ', 1.0, 1997.0, Decimal('2772495.251000')),
 ('ETHIOPIA                 ', 1.0, 1998.0, Decimal('2123244.814800')),
 ('ETHIOPIA                 ', 1.0, None, Decimal('14910148.729900')),
 ('ETHIOPIA                 ', 2.0, 1992.0, Decimal('2555879.440400')),
 ('ETHIOPIA                 ', 2.0, 1993.0, Decimal('2175923.734700')),
 ('ETHIOPIA                 ', 2.0, 1994.0, Decimal('2210772.627800')),
 ('ETHIOPIA                 ', 2.0, 1995.0, Decimal('2072574.104100')),
 ('ETHIOPIA                 ', 2.0, 1996.0, Decimal('1538818.483400')),
 ('ETHIOPIA                 ', 2.0, 1997.0, Decimal('1772124.427700')),
 ('ETHIOPIA                 ', 2.0, 1998.0, Decimal('2490025.395400')),
 ('ETHIOPIA                 ', 2.0, None, Decimal('14816118.213500')),
 ('ETHIOPIA                 ', 3.0, 1992.0, Decimal('2342687.385500')),
 ('ETHIOPIA                 ', 3.0, 1993.0, Decimal('2019936.525500')),
 ('ETHIOPIA                 ', 3.0, 1994.0, Decimal('2192248.649100')),
 ('ETHIOPIA                 ', 3.0, 1995.0, Decimal('1765659.327000')),
 ('ETHIOPIA                 ', 3.0, 1996.0, Decimal('2349147.986000')),
 ('ETHIOPIA                 ', 3.0, 1997.0, Decimal('2714168.449800')),
 ('ETHIOPIA                 ', 3.0, 1998.0, Decimal('1053798.264700')),
 ('ETHIOPIA                 ', 3.0, None, Decimal('14437646.587600')),
 ('ETHIOPIA                 ', 4.0, 1992.0, Decimal('1911135.205200')),
 ('ETHIOPIA                 ', 4.0, 1993.0, Decimal('2485106.373700')),
 ('ETHIOPIA                 ', 4.0, 1994.0, Decimal('2214952.804800')),
 ('ETHIOPIA                 ', 4.0, 1995.0, Decimal('2594269.346500')),
 ('ETHIOPIA                 ', 4.0, 1996.0, Decimal('2456653.511200')),
 ('ETHIOPIA                 ', 4.0, 1997.0, Decimal('2105001.946300')),
 ('ETHIOPIA                 ', 4.0, None, Decimal('13767119.187700')),
 ('ETHIOPIA                 ', None, 1992.0, Decimal('9077948.018000')),
 ('ETHIOPIA                 ', None, 1993.0, Decimal('8537000.021400')),
 ('ETHIOPIA                 ', None, 1994.0, Decimal('8739224.753800')),
 ('ETHIOPIA                 ', None, 1995.0, Decimal('8584391.722200')),
 ('ETHIOPIA                 ', None, 1996.0, Decimal('7961609.653600')),
 ('ETHIOPIA                 ', None, 1997.0, Decimal('9363790.074800')),
 ('ETHIOPIA                 ', None, 1998.0, Decimal('5667068.474900')),
 ('ETHIOPIA                 ', None, None, Decimal('57931032.718700')),
 ('KENYA                    ', 1.0, 1992.0, Decimal('4728310.634200')),
 ('KENYA                    ', 1.0, 1993.0, Decimal('4167965.875600')),
 ('KENYA                    ', 1.0, 1994.0, Decimal('4403122.559700')),
 ('KENYA                    ', 1.0, 1995.0, Decimal('3062728.794500')),
 ('KENYA                    ', 1.0, 1996.0, Decimal('4821377.312000')),
 ('KENYA                    ', 1.0, 1997.0, Decimal('3841596.933800')),
 ('KENYA                    ', 1.0, 1998.0, Decimal('4646720.909400')),
 ('KENYA                    ', 1.0, None, Decimal('29671823.019200')),
 ('KENYA                    ', 2.0, 1992.0, Decimal('4904382.264100')),
 ('KENYA                    ', 2.0, 1993.0, Decimal('4075936.873500')),
 ('KENYA                    ', 2.0, 1994.0, Decimal('4457596.483900')),
 ('KENYA                    ', 2.0, 1995.0, Decimal('4045135.114300')),
 ('KENYA                    ', 2.0, 1996.0, Decimal('5922079.883000')),
 ('KENYA                    ', 2.0, 1997.0, Decimal('4744282.207700')),
 ('KENYA                    ', 2.0, 1998.0, Decimal('5615897.608300')),
 ('KENYA                    ', 2.0, None, Decimal('33765310.434800')),
 ('KENYA                    ', 3.0, 1992.0, Decimal('4768063.528600')),
 ('KENYA                    ', 3.0, 1993.0, Decimal('5049824.597100')),
 ('KENYA                    ', 3.0, 1994.0, Decimal('5025328.991100')),
 ('KENYA                    ', 3.0, 1995.0, Decimal('4522404.462200')),
 ('KENYA                    ', 3.0, 1996.0, Decimal('4097861.895800')),
 ('KENYA                    ', 3.0, 1997.0, Decimal('4809480.165500')),
 ('KENYA                    ', 3.0, 1998.0, Decimal('1477030.501100')),
 ('KENYA                    ', 3.0, None, Decimal('29749994.141400')),
 ('KENYA                    ', 4.0, 1992.0, Decimal('4443835.885100')),
 ('KENYA                    ', 4.0, 1993.0, Decimal('5056657.714800')),
 ('KENYA                    ', 4.0, 1994.0, Decimal('4255679.721300')),
 ('KENYA                    ', 4.0, 1995.0, Decimal('4275793.057800')),
 ('KENYA                    ', 4.0, 1996.0, Decimal('4558682.296100')),
 ('KENYA                    ', 4.0, 1997.0, Decimal('5100876.451100')),
 ('KENYA                    ', 4.0, None, Decimal('27691525.126200')),
 ('KENYA                    ', None, 1992.0, Decimal('18844592.312000')),
 ('KENYA                    ', None, 1993.0, Decimal('18350385.061000')),
 ('KENYA                    ', None, 1994.0, Decimal('18141727.756000')),
 ('KENYA                    ', None, 1995.0, Decimal('15906061.428800')),
 ('KENYA                    ', None, 1996.0, Decimal('19400001.386900')),
 ('KENYA                    ', None, 1997.0, Decimal('18496235.758100')),
 ('KENYA                    ', None, 1998.0, Decimal('11739649.018800')),
 ('KENYA                    ', None, None, Decimal('120878652.721600')),
 ('MOROCCO                  ', 1.0, 1992.0, Decimal('1397538.037500')),
 ('MOROCCO                  ', 1.0, 1993.0, Decimal('1632535.383700')),
 ('MOROCCO                  ', 1.0, 1994.0, Decimal('1513751.062500')),
 ('MOROCCO                  ', 1.0, 1995.0, Decimal('1415118.290900')),
 ('MOROCCO                  ', 1.0, 1996.0, Decimal('1854895.628000')),
 ('MOROCCO                  ', 1.0, 1997.0, Decimal('1945105.134600')),
 ('MOROCCO                  ', 1.0, 1998.0, Decimal('1469312.542900')),
 ('MOROCCO                  ', 1.0, None, Decimal('11228256.080100')),
 ('MOROCCO                  ', 2.0, 1992.0, Decimal('1355226.780000')),
 ('MOROCCO                  ', 2.0, 1993.0, Decimal('1318992.359500')),
 ('MOROCCO                  ', 2.0, 1994.0, Decimal('1718603.551300')),
 ('MOROCCO                  ', 2.0, 1995.0, Decimal('1414370.859500')),
 ('MOROCCO                  ', 2.0, 1996.0, Decimal('1777119.347000')),
 ('MOROCCO                  ', 2.0, 1997.0, Decimal('1545321.889000')),
 ('MOROCCO                  ', 2.0, 1998.0, Decimal('1083668.095500')),
 ('MOROCCO                  ', 2.0, None, Decimal('10213302.881800')),
 ('MOROCCO                  ', 3.0, 1992.0, Decimal('1579660.489600')),
 ('MOROCCO                  ', 3.0, 1993.0, Decimal('1808143.881300')),
 ('MOROCCO                  ', 3.0, 1994.0, Decimal('1982299.631800')),
 ('MOROCCO                  ', 3.0, 1995.0, Decimal('1914367.366100')),
 ('MOROCCO                  ', 3.0, 1996.0, Decimal('1570206.954800')),
 ('MOROCCO                  ', 3.0, 1997.0, Decimal('1046858.869700')),
 ('MOROCCO                  ', 3.0, 1998.0, Decimal('377468.707700')),
 ('MOROCCO                  ', 3.0, None, Decimal('10279005.901000')),
 ('MOROCCO                  ', 4.0, 1992.0, Decimal('1476156.336800')),
 ('MOROCCO                  ', 4.0, 1993.0, Decimal('1971992.165200')),
 ('MOROCCO                  ', 4.0, 1994.0, Decimal('1396984.963100')),
 ('MOROCCO                  ', 4.0, 1995.0, Decimal('1774755.672000')),
 ('MOROCCO                  ', 4.0, 1996.0, Decimal('1491400.971700')),
 ('MOROCCO                  ', 4.0, 1997.0, Decimal('1600606.171200')),
 ('MOROCCO                  ', 4.0, None, Decimal('9711896.280000')),
 ('MOROCCO                  ', None, 1992.0, Decimal('5808581.643900')),
 ('MOROCCO                  ', None, 1993.0, Decimal('6731663.789700')),
 ('MOROCCO                  ', None, 1994.0, Decimal('6611639.208700')),
 ('MOROCCO                  ', None, 1995.0, Decimal('6518612.188500')),
 ('MOROCCO                  ', None, 1996.0, Decimal('6693622.901500')),
 ('MOROCCO                  ', None, 1997.0, Decimal('6137892.064500')),
 ('MOROCCO                  ', None, 1998.0, Decimal('2930449.346100')),
 ('MOROCCO                  ', None, None, Decimal('41432461.142900')),
 ('MOZAMBIQUE               ', 1.0, 1992.0, Decimal('6965242.876100')),
 ('MOZAMBIQUE               ', 1.0, 1993.0, Decimal('5700710.116200')),
 ('MOZAMBIQUE               ', 1.0, 1994.0, Decimal('4654343.524900')),
 ('MOZAMBIQUE               ', 1.0, 1995.0, Decimal('4393406.709000')),
 ('MOZAMBIQUE               ', 1.0, 1996.0, Decimal('5222288.767300')),
 ('MOZAMBIQUE               ', 1.0, 1997.0, Decimal('5745892.743700')),
 ('MOZAMBIQUE               ', 1.0, 1998.0, Decimal('4448672.701200')),
 ('MOZAMBIQUE               ', 1.0, None, Decimal('37130557.438400')),
 ('MOZAMBIQUE               ', 2.0, 1992.0, Decimal('5267473.732700')),
 ('MOZAMBIQUE               ', 2.0, 1993.0, Decimal('5563226.025800')),
 ('MOZAMBIQUE               ', 2.0, 1994.0, Decimal('5535359.399400')),
 ('MOZAMBIQUE               ', 2.0, 1995.0, Decimal('4663851.233500')),
 ('MOZAMBIQUE               ', 2.0, 1996.0, Decimal('4937902.847500')),
 ('MOZAMBIQUE               ', 2.0, 1997.0, Decimal('4462141.327700')),
 ('MOZAMBIQUE               ', 2.0, 1998.0, Decimal('4964433.336700')),
 ('MOZAMBIQUE               ', 2.0, None, Decimal('35394387.903300')),
 ('MOZAMBIQUE               ', 3.0, 1992.0, Decimal('5426317.167400')),
 ('MOZAMBIQUE               ', 3.0, 1993.0, Decimal('5446698.529300')),
 ('MOZAMBIQUE               ', 3.0, 1994.0, Decimal('5401216.709400')),
 ('MOZAMBIQUE               ', 3.0, 1995.0, Decimal('5298974.507600')),
 ('MOZAMBIQUE               ', 3.0, 1996.0, Decimal('6200750.613400')),
 ('MOZAMBIQUE               ', 3.0, 1997.0, Decimal('4467361.466500')),
 ('MOZAMBIQUE               ', 3.0, 1998.0, Decimal('2494566.571200')),
 ('MOZAMBIQUE               ', 3.0, None, Decimal('34735885.564800')),
 ('MOZAMBIQUE               ', 4.0, 1992.0, Decimal('5309316.859300')),
 ('MOZAMBIQUE               ', 4.0, 1993.0, Decimal('6017842.958800')),
 ('MOZAMBIQUE               ', 4.0, 1994.0, Decimal('5783781.119700')),
 ('MOZAMBIQUE               ', 4.0, 1995.0, Decimal('5657364.541800')),
 ('MOZAMBIQUE               ', 4.0, 1996.0, Decimal('4772788.557500')),
 ('MOZAMBIQUE               ', 4.0, 1997.0, Decimal('5163647.334000')),
 ('MOZAMBIQUE               ', 4.0, None, Decimal('32704741.371100')),
 ('MOZAMBIQUE               ', None, 1992.0, Decimal('22968350.635500')),
 ('MOZAMBIQUE               ', None, 1993.0, Decimal('22728477.630100')),
 ('MOZAMBIQUE               ', None, 1994.0, Decimal('21374700.753400')),
 ('MOZAMBIQUE               ', None, 1995.0, Decimal('20013596.991900')),
 ('MOZAMBIQUE               ', None, 1996.0, Decimal('21133730.785700')),
 ('MOZAMBIQUE               ', None, 1997.0, Decimal('19839042.871900')),
 ('MOZAMBIQUE               ', None, 1998.0, Decimal('11907672.609100')),
 ('MOZAMBIQUE               ', None, None, Decimal('139965572.277600')),
 (None, 1.0, 1992.0, Decimal('17317462.328700')),
 (None, 1.0, 1993.0, Decimal('15207320.897000')),
 (None, 1.0, 1994.0, Decimal('14947126.362300')),
 (None, 1.0, 1995.0, Decimal('12734105.840200')),
 (None, 1.0, 1996.0, Decimal('15259433.714500')),
 (None, 1.0, 1997.0, Decimal('17418523.263100')),
 (None, 1.0, 1998.0, Decimal('14912537.900100')),
 (None, 1.0, None, Decimal('107796510.305900')),
 (None, 2.0, 1992.0, Decimal('16458398.548800')),
 (None, 2.0, 1993.0, Decimal('15329026.121300')),
 (None, 2.0, 1994.0, Decimal('16007497.035300')),
 (None, 2.0, 1995.0, Decimal('14665803.959200')),
 (None, 2.0, 1996.0, Decimal('16111785.612700')),
 (None, 2.0, 1997.0, Decimal('15355923.862000')),
 (None, 2.0, 1998.0, Decimal('16078987.245100')),
 (None, 2.0, None, Decimal('110007422.384400')),
 (None, 3.0, 1992.0, Decimal('16427516.107800')),
 (None, 3.0, 1993.0, Decimal('17629614.349900')),
 (None, 3.0, 1994.0, Decimal('16988871.314700')),
 (None, 3.0, 1995.0, Decimal('15824431.236000')),
 (None, 3.0, 1996.0, Decimal('16624284.777000')),
 (None, 3.0, 1997.0, Decimal('15579227.427300')),
 (None, 3.0, 1998.0, Decimal('6807916.038300')),
 (None, 3.0, None, Decimal('105881861.251000')),
 (None, 4.0, 1992.0, Decimal('15064839.744200')),
 (None, 4.0, 1993.0, Decimal('17998547.729600')),
 (None, 4.0, 1994.0, Decimal('16021382.994500')),
 (None, 4.0, 1995.0, Decimal('16966751.388400')),
 (None, 4.0, 1996.0, Decimal('15330608.899400')),
 (None, 4.0, 1997.0, Decimal('16197925.646300')),
 (None, 4.0, None, Decimal('97580056.402400')),
 (None, None, 1992.0, Decimal('65268216.729500')),
 (None, None, 1993.0, Decimal('66164509.097800')),
 (None, None, 1994.0, Decimal('63964877.706800')),
 (None, None, 1995.0, Decimal('60191092.423800')),
 (None, None, 1996.0, Decimal('63326113.003600')),
 (None, None, 1997.0, Decimal('64551600.198700')),
 (None, None, 1998.0, Decimal('37799441.183500')),
 (None, None, None, Decimal('421265850.343700'))]

#### 4. Show how much revenue suppliers from nations of Africa produced in every week of every month of Q1 in 1996.

Note that `orderweek` is from a different hierarchy of the `orderdate` dimension than `orderquarter` and `ordermonth` because a week does not generally belong to only one quarter or month. (However, a month always belongs to exactly one quarter.) This does not change anything in the SQL query below, but is an important conceptual subtlety of cubes.

In [36]:
%%sql
WITH cube AS (
    SELECT olquantity, partretailprice, oldiscount,
           orderdate, nationname, regionname, orderpriority,
           olquantity * partretailprice * (1-oldiscount) AS revenue,
           DATE_PART('year', orderdate) AS orderyear,
           DATE_PART('quarter', orderdate) AS orderquarter,
           DATE_PART('month', orderdate) AS ordermonth,
           DATE_PART('week', orderdate) AS orderweek
    FROM orderline ol
    JOIN orders o      ON ol.orderid = o.orderid
    JOIN supplypart sp ON ol.partId = sp.partId AND ol.supplierId = sp.supplierId
    JOIN part p        ON sp.partId = p.partId
    JOIN supplier s    ON sp.supplierId = s.supplierId
    JOIN nation sn     ON s.nationId = sn.nationId
    JOIN region sr     ON sn.regionId = sr.regionId
)
SELECT orderweek, ordermonth, SUM(revenue)
FROM cube
WHERE regionname = 'AFRICA' AND 
    orderyear  = 1996 AND
    orderquarter = 1
GROUP BY CUBE(orderweek, ordermonth)
ORDER BY orderweek, ordermonth

 * postgresql://postgres:***@postgres:5432/tpch-db
32 rows affected.

[(1.0, 1.0, Decimal('1083354.578200')),
 (1.0, None, Decimal('1083354.578200')),
 (2.0, 1.0, Decimal('1359476.548000')),
 (2.0, None, Decimal('1359476.548000')),
 (3.0, 1.0, Decimal('706544.027600')),
 (3.0, None, Decimal('706544.027600')),
 (4.0, 1.0, Decimal('700302.121800')),
 (4.0, None, Decimal('700302.121800')),
 (5.0, 1.0, Decimal('547571.504800')),
 (5.0, 2.0, Decimal('415328.830600')),
 (5.0, None, Decimal('962900.335400')),
 (6.0, 2.0, Decimal('1896169.101700')),
 (6.0, None, Decimal('1896169.101700')),
 (7.0, 2.0, Decimal('660014.174900')),
 (7.0, None, Decimal('660014.174900')),
 (8.0, 2.0, Decimal('1397496.801800')),
 (8.0, None, Decimal('1397496.801800')),
 (9.0, 2.0, Decimal('794668.931300')),
 (9.0, 3.0, Decimal('906824.795000')),
 (9.0, None, Decimal('1701493.726300')),
 (10.0, 3.0, Decimal('873799.510200')),
 (10.0, None, Decimal('873799.510200')),
 (11.0, 3.0, Decimal('1706047.296400')),
 (11.0, None, Decimal('1706047.296400')),
 (12.0, 3.0, Decimal('1057197.883200')),
 (12.0, None, Decimal('1057197.883200')),
 (13.0, 3.0, Decimal('1154637.609000')),
 (13.0, None, Decimal('1154637.609000')),
 (None, 1.0, Decimal('4397248.780400')),
 (None, 2.0, Decimal('5163677.840300')),
 (None, 3.0, Decimal('5698507.093800')),
 (None, None, Decimal('15259433.714500'))]

#### 5. Show how much revenue suppliers from nations of Africa produced in every year with "urgent" orders.

In [42]:
%%sql
WITH cube AS (
    SELECT olquantity, partretailprice, oldiscount,
           orderdate, nationname, regionname, orderpriority,
           olquantity * partretailprice * (1-oldiscount) AS revenue,
           DATE_PART('YEAR', orderdate) AS orderyear,
           DATE_PART('QUARTER', orderdate) AS orderquarter,
           DATE_PART('MONTH', orderdate) AS ordermonth,
           DATE_PART('WEEK', orderdate) AS orderweek
    FROM orderline ol
    JOIN orders o      ON ol.orderid = o.orderid
    JOIN supplypart sp ON ol.partId = sp.partId AND ol.supplierId = sp.supplierId
    JOIN part p        ON sp.partId = p.partId
    JOIN supplier s    ON sp.supplierId = s.supplierId
    JOIN nation sn     ON s.nationId = sn.nationId
    JOIN region sr     ON sn.regionId = sr.regionId
)
SELECT nationname, orderyear, SUM(revenue)
FROM cube
WHERE regionname = 'AFRICA' AND
    orderpriority = '1-URGENT'
GROUP BY CUBE(orderyear, nationname)
ORDER BY nationname, orderyear

 * postgresql://postgres:***@postgres:5432/tpch-db
48 rows affected.

[('ALGERIA                  ', 1992.0, Decimal('2079676.920500')),
 ('ALGERIA                  ', 1993.0, Decimal('1849416.995600')),
 ('ALGERIA                  ', 1994.0, Decimal('2507140.811600')),
 ('ALGERIA                  ', 1995.0, Decimal('1603099.650400')),
 ('ALGERIA                  ', 1996.0, Decimal('1994410.891800')),
 ('ALGERIA                  ', 1997.0, Decimal('2582016.190800')),
 ('ALGERIA                  ', 1998.0, Decimal('1277526.845100')),
 ('ALGERIA                  ', None, Decimal('13893288.305800')),
 ('ETHIOPIA                 ', 1992.0, Decimal('1787769.017900')),
 ('ETHIOPIA                 ', 1993.0, Decimal('1628439.771100')),
 ('ETHIOPIA                 ', 1994.0, Decimal('1494422.202300')),
 ('ETHIOPIA                 ', 1995.0, Decimal('1759801.809500')),
 ('ETHIOPIA                 ', 1996.0, Decimal('1831385.379300')),
 ('ETHIOPIA                 ', 1997.0, Decimal('2133682.835800')),
 ('ETHIOPIA                 ', 1998.0, Decimal('1134265.914200')),
 ('ETHIOPIA                 ', None, Decimal('11769766.930100')),
 ('KENYA                    ', 1992.0, Decimal('4379720.382600')),
 ('KENYA                    ', 1993.0, Decimal('2988587.999200')),
 ('KENYA                    ', 1994.0, Decimal('4116800.756000')),
 ('KENYA                    ', 1995.0, Decimal('3660285.569900')),
 ('KENYA                    ', 1996.0, Decimal('3716622.317700')),
 ('KENYA                    ', 1997.0, Decimal('3507061.851500')),
 ('KENYA                    ', 1998.0, Decimal('2043598.026600')),
 ('KENYA                    ', None, Decimal('24412676.903500')),
 ('MOROCCO                  ', 1992.0, Decimal('1063439.518700')),
 ('MOROCCO                  ', 1993.0, Decimal('1495434.260900')),
 ('MOROCCO                  ', 1994.0, Decimal('1830280.806700')),
 ('MOROCCO                  ', 1995.0, Decimal('1096877.269900')),
 ('MOROCCO                  ', 1996.0, Decimal('1230008.185500')),
 ('MOROCCO                  ', 1997.0, Decimal('1088009.974900')),
 ('MOROCCO                  ', 1998.0, Decimal('563191.540600')),
 ('MOROCCO                  ', None, Decimal('8367241.557200')),
 ('MOZAMBIQUE               ', 1992.0, Decimal('5123490.183000')),
 ('MOZAMBIQUE               ', 1993.0, Decimal('4369470.490000')),
 ('MOZAMBIQUE               ', 1994.0, Decimal('4369376.653400')),
 ('MOZAMBIQUE               ', 1995.0, Decimal('4618204.835600')),
 ('MOZAMBIQUE               ', 1996.0, Decimal('4340760.256900')),
 ('MOZAMBIQUE               ', 1997.0, Decimal('4339793.785400')),
 ('MOZAMBIQUE               ', 1998.0, Decimal('1863195.466800')),
 ('MOZAMBIQUE               ', None, Decimal('29024291.671100')),
 (None, 1992.0, Decimal('14434096.022700')),
 (None, 1993.0, Decimal('12331349.516800')),
 (None, 1994.0, Decimal('14318021.230000')),
 (None, 1995.0, Decimal('12738269.135300')),
 (None, 1996.0, Decimal('13113187.031200')),
 (None, 1997.0, Decimal('13650564.638400')),
 (None, 1998.0, Decimal('6881777.793300')),
 (None, None, Decimal('87467265.367700'))]

#### 6. Show the average order quantity for parts from suppliers from nations in Africa per year.

In [46]:
%%sql
WITH cube AS (
    SELECT olquantity, partretailprice, oldiscount,
           orderdate, nationname, regionname, orderpriority,
           olquantity * partretailprice * (1-oldiscount) AS revenue,
           DATE_PART('YEAR', orderdate) AS orderyear,
           DATE_PART('QUARTER', orderdate) AS orderquarter,
           DATE_PART('MONTH', orderdate) AS ordermonth,
           DATE_PART('WEEK', orderdate) AS orderweek
    FROM orderline ol
    JOIN orders o      ON ol.orderid = o.orderid
    JOIN supplypart sp ON ol.partId = sp.partId AND ol.supplierId = sp.supplierId
    JOIN part p        ON sp.partId = p.partId
    JOIN supplier s    ON sp.supplierId = s.supplierId
    JOIN nation sn     ON s.nationId = sn.nationId
    JOIN region sr     ON sn.regionId = sr.regionId
)
SELECT nationname, orderyear, avg(olquantity)
FROM cube
WHERE regionname = 'AFRICA'
GROUP BY CUBE(nationname, orderyear)
ORDER BY (nationname, orderyear)

 * postgresql://postgres:***@postgres:5432/tpch-db
48 rows affected.

[('ALGERIA                  ', 1992.0, Decimal('24.0109890109890110')),
 ('ALGERIA                  ', 1993.0, Decimal('25.6236933797909408')),
 ('ALGERIA                  ', 1994.0, Decimal('24.7570422535211268')),
 ('ALGERIA                  ', 1995.0, Decimal('26.3120300751879699')),
 ('ALGERIA                  ', 1996.0, Decimal('23.8643410852713178')),
 ('ALGERIA                  ', 1997.0, Decimal('26.0935483870967742')),
 ('ALGERIA                  ', 1998.0, Decimal('24.8035714285714286')),
 ('ALGERIA                  ', None, Decimal('25.1094257854821235')),
 ('ETHIOPIA                 ', 1992.0, Decimal('25.3481481481481481')),
 ('ETHIOPIA                 ', 1993.0, Decimal('24.8778625954198473')),
 ('ETHIOPIA                 ', 1994.0, Decimal('24.8407407407407407')),
 ('ETHIOPIA                 ', 1995.0, Decimal('25.6184738955823293')),
 ('ETHIOPIA                 ', 1996.0, Decimal('24.2098765432098765')),
 ('ETHIOPIA                 ', 1997.0, Decimal('25.8129496402877698')),
 ('ETHIOPIA                 ', 1998.0, Decimal('25.8827160493827160')),
 ('ETHIOPIA                 ', None, Decimal('25.2018454440599769')),
 ('KENYA                    ', 1992.0, Decimal('25.6886446886446886')),
 ('KENYA                    ', 1993.0, Decimal('25.1675774134790528')),
 ('KENYA                    ', 1994.0, Decimal('25.0661764705882353')),
 ('KENYA                    ', 1995.0, Decimal('24.9435146443514644')),
 ('KENYA                    ', 1996.0, Decimal('25.9553571428571429')),
 ('KENYA                    ', 1997.0, Decimal('24.9710144927536232')),
 ('KENYA                    ', 1998.0, Decimal('26.4229607250755287')),
 ('KENYA                    ', None, Decimal('25.4120786516853933')),
 ('MOROCCO                  ', 1992.0, Decimal('24.4886363636363636')),
 ('MOROCCO                  ', 1993.0, Decimal('27.4486486486486486')),
 ('MOROCCO                  ', 1994.0, Decimal('25.5751295336787565')),
 ('MOROCCO                  ', 1995.0, Decimal('24.1840796019900498')),
 ('MOROCCO                  ', 1996.0, Decimal('25.8238341968911917')),
 ('MOROCCO                  ', 1997.0, Decimal('24.0000000000000000')),
 ('MOROCCO                  ', 1998.0, Decimal('24.7444444444444444')),
 ('MOROCCO                  ', None, Decimal('25.2094539527302363')),
 ('MOZAMBIQUE               ', 1992.0, Decimal('25.5223214285714286')),
 ('MOZAMBIQUE               ', 1993.0, Decimal('25.8782343987823440')),
 ('MOZAMBIQUE               ', 1994.0, Decimal('25.6128000000000000')),
 ('MOZAMBIQUE               ', 1995.0, Decimal('25.3394648829431438')),
 ('MOZAMBIQUE               ', 1996.0, Decimal('24.3622291021671827')),
 ('MOZAMBIQUE               ', 1997.0, Decimal('25.2063758389261745')),
 ('MOZAMBIQUE               ', 1998.0, Decimal('24.3722222222222222')),
 ('MOZAMBIQUE               ', None, Decimal('25.2404910929224844')),
 (None, 1992.0, Decimal('25.2379969024264326')),
 (None, 1993.0, Decimal('25.6541237113402062')),
 (None, 1994.0, Decimal('25.2181628392484342')),
 (None, 1995.0, Decimal('25.2873883928571429')),
 (None, 1996.0, Decimal('24.8931578947368421')),
 (None, 1997.0, Decimal('25.2509090909090909')),
 (None, 1998.0, Decimal('25.2988298829882988')),
 (None, None, Decimal('25.2615605782285760'))]

#### 7. Show how much revenue suppliers from nations of Africa (as rows) produced in every quarter of every year (as columns).

Columns and row of a cube are both represented as columns when mapped to relations and SQL. A tool similar to Excel's PivotTable that automatically generates SQL queries would probably just flip the order of the columns.

In [47]:
%%sql
WITH cube AS (
    SELECT olquantity, partretailprice, oldiscount,
           orderdate, nationname, regionname, orderpriority,
           olquantity * partretailprice * (1-oldiscount) AS revenue,
           DATE_PART('YEAR', orderdate) AS orderyear,
           DATE_PART('QUARTER', orderdate) AS orderquarter,
           DATE_PART('MONTH', orderdate) AS ordermonth,
           DATE_PART('WEEK', orderdate) AS orderweek
    FROM orderline ol
    JOIN orders o      ON ol.orderid = o.orderid
    JOIN supplypart sp ON ol.partId = sp.partId AND ol.supplierId = sp.supplierId
    JOIN part p        ON sp.partId = p.partId
    JOIN supplier s    ON sp.supplierId = s.supplierId
    JOIN nation sn     ON s.nationId = sn.nationId
    JOIN region sr     ON sn.regionId = sr.regionId
)
SELECT nationname, orderquarter, orderyear, SUM(revenue)
FROM cube 
WHERE regionname = 'AFRICA'
GROUP BY CUBE(nationname, orderquarter, orderyear)
ORDER BY (nationname, orderquarter, orderyear)

 * postgresql://postgres:***@postgres:5432/tpch-db
234 rows affected.

[('ALGERIA                  ', 1.0, 1992.0, Decimal('1958124.794000')),
 ('ALGERIA                  ', 1.0, 1993.0, Decimal('1850076.134000')),
 ('ALGERIA                  ', 1.0, 1994.0, Decimal('2254658.543100')),
 ('ALGERIA                  ', 1.0, 1995.0, Decimal('1710963.101200')),
 ('ALGERIA                  ', 1.0, 1996.0, Decimal('1743882.334200')),
 ('ALGERIA                  ', 1.0, 1997.0, Decimal('3113433.200000')),
 ('ALGERIA                  ', 1.0, 1998.0, Decimal('2224586.931800')),
 ('ALGERIA                  ', 1.0, None, Decimal('14855725.038300')),
 ('ALGERIA                  ', 2.0, 1992.0, Decimal('2375436.331600')),
 ('ALGERIA                  ', 2.0, 1993.0, Decimal('2194947.127800')),
 ('ALGERIA                  ', 2.0, 1994.0, Decimal('2085164.972900')),
 ('ALGERIA                  ', 2.0, 1995.0, Decimal('2469872.647800')),
 ('ALGERIA                  ', 2.0, 1996.0, Decimal('1935865.051800')),
 ('ALGERIA                  ', 2.0, 1997.0, Decimal('2832054.009900')),
 ('ALGERIA                  ', 2.0, 1998.0, Decimal('1924962.809200')),
 ('ALGERIA                  ', 2.0, None, Decimal('15818302.951000')),
 ('ALGERIA                  ', 3.0, 1992.0, Decimal('2310787.536700')),
 ('ALGERIA                  ', 3.0, 1993.0, Decimal('3305010.816700')),
 ('ALGERIA                  ', 3.0, 1994.0, Decimal('2387777.333300')),
 ('ALGERIA                  ', 3.0, 1995.0, Decimal('2323025.573100')),
 ('ALGERIA                  ', 3.0, 1996.0, Decimal('2406317.327000')),
 ('ALGERIA                  ', 3.0, 1997.0, Decimal('2541358.475800')),
 ('ALGERIA                  ', 3.0, 1998.0, Decimal('1405051.993600')),
 ('ALGERIA                  ', 3.0, None, Decimal('16679329.056200')),
 ('ALGERIA                  ', 4.0, 1992.0, Decimal('1924395.457800')),
 ('ALGERIA                  ', 4.0, 1993.0, Decimal('2466948.517100')),
 ('ALGERIA                  ', 4.0, 1994.0, Decimal('2369984.385600')),
 ('ALGERIA                  ', 4.0, 1995.0, Decimal('2664568.770300')),
 ('ALGERIA                  ', 4.0, 1996.0, Decimal('2051083.562900')),
 ('ALGERIA                  ', 4.0, 1997.0, Decimal('2227793.743700')),
 ('ALGERIA                  ', 4.0, None, Decimal('13704774.437400')),
 ('ALGERIA                  ', None, 1992.0, Decimal('8568744.120100')),
 ('ALGERIA                  ', None, 1993.0, Decimal('9816982.595600')),
 ('ALGERIA                  ', None, 1994.0, Decimal('9097585.234900')),
 ('ALGERIA                  ', None, 1995.0, Decimal('9168430.092400')),
 ('ALGERIA                  ', None, 1996.0, Decimal('8137148.275900')),
 ('ALGERIA                  ', None, 1997.0, Decimal('10714639.429400')),
 ('ALGERIA                  ', None, 1998.0, Decimal('5554601.734600')),
 ('ALGERIA                  ', None, None, Decimal('61058131.482900')),
 ('ETHIOPIA                 ', 1.0, 1992.0, Decimal('2268245.986900')),
 ('ETHIOPIA                 ', 1.0, 1993.0, Decimal('1856033.387500')),
 ('ETHIOPIA                 ', 1.0, 1994.0, Decimal('2121250.672100')),
 ('ETHIOPIA                 ', 1.0, 1995.0, Decimal('2151888.944600')),
 ('ETHIOPIA                 ', 1.0, 1996.0, Decimal('1616989.673000')),
 ('ETHIOPIA                 ', 1.0, 1997.0, Decimal('2772495.251000')),
 ('ETHIOPIA                 ', 1.0, 1998.0, Decimal('2123244.814800')),
 ('ETHIOPIA                 ', 1.0, None, Decimal('14910148.729900')),
 ('ETHIOPIA                 ', 2.0, 1992.0, Decimal('2555879.440400')),
 ('ETHIOPIA                 ', 2.0, 1993.0, Decimal('2175923.734700')),
 ('ETHIOPIA                 ', 2.0, 1994.0, Decimal('2210772.627800')),
 ('ETHIOPIA                 ', 2.0, 1995.0, Decimal('2072574.104100')),
 ('ETHIOPIA                 ', 2.0, 1996.0, Decimal('1538818.483400')),
 ('ETHIOPIA                 ', 2.0, 1997.0, Decimal('1772124.427700')),
 ('ETHIOPIA                 ', 2.0, 1998.0, Decimal('2490025.395400')),
 ('ETHIOPIA                 ', 2.0, None, Decimal('14816118.213500')),
 ('ETHIOPIA                 ', 3.0, 1992.0, Decimal('2342687.385500')),
 ('ETHIOPIA                 ', 3.0, 1993.0, Decimal('2019936.525500')),
 ('ETHIOPIA                 ', 3.0, 1994.0, Decimal('2192248.649100')),
 ('ETHIOPIA                 ', 3.0, 1995.0, Decimal('1765659.327000')),
 ('ETHIOPIA                 ', 3.0, 1996.0, Decimal('2349147.986000')),
 ('ETHIOPIA                 ', 3.0, 1997.0, Decimal('2714168.449800')),
 ('ETHIOPIA                 ', 3.0, 1998.0, Decimal('1053798.264700')),
 ('ETHIOPIA                 ', 3.0, None, Decimal('14437646.587600')),
 ('ETHIOPIA                 ', 4.0, 1992.0, Decimal('1911135.205200')),
 ('ETHIOPIA                 ', 4.0, 1993.0, Decimal('2485106.373700')),
 ('ETHIOPIA                 ', 4.0, 1994.0, Decimal('2214952.804800')),
 ('ETHIOPIA                 ', 4.0, 1995.0, Decimal('2594269.346500')),
 ('ETHIOPIA                 ', 4.0, 1996.0, Decimal('2456653.511200')),
 ('ETHIOPIA                 ', 4.0, 1997.0, Decimal('2105001.946300')),
 ('ETHIOPIA                 ', 4.0, None, Decimal('13767119.187700')),
 ('ETHIOPIA                 ', None, 1992.0, Decimal('9077948.018000')),
 ('ETHIOPIA                 ', None, 1993.0, Decimal('8537000.021400')),
 ('ETHIOPIA                 ', None, 1994.0, Decimal('8739224.753800')),
 ('ETHIOPIA                 ', None, 1995.0, Decimal('8584391.722200')),
 ('ETHIOPIA                 ', None, 1996.0, Decimal('7961609.653600')),
 ('ETHIOPIA                 ', None, 1997.0, Decimal('9363790.074800')),
 ('ETHIOPIA                 ', None, 1998.0, Decimal('5667068.474900')),
 ('ETHIOPIA                 ', None, None, Decimal('57931032.718700')),
 ('KENYA                    ', 1.0, 1992.0, Decimal('4728310.634200')),
 ('KENYA                    ', 1.0, 1993.0, Decimal('4167965.875600')),
 ('KENYA                    ', 1.0, 1994.0, Decimal('4403122.559700')),
 ('KENYA                    ', 1.0, 1995.0, Decimal('3062728.794500')),
 ('KENYA                    ', 1.0, 1996.0, Decimal('4821377.312000')),
 ('KENYA                    ', 1.0, 1997.0, Decimal('3841596.933800')),
 ('KENYA                    ', 1.0, 1998.0, Decimal('4646720.909400')),
 ('KENYA                    ', 1.0, None, Decimal('29671823.019200')),
 ('KENYA                    ', 2.0, 1992.0, Decimal('4904382.264100')),
 ('KENYA                    ', 2.0, 1993.0, Decimal('4075936.873500')),
 ('KENYA                    ', 2.0, 1994.0, Decimal('4457596.483900')),
 ('KENYA                    ', 2.0, 1995.0, Decimal('4045135.114300')),
 ('KENYA                    ', 2.0, 1996.0, Decimal('5922079.883000')),
 ('KENYA                    ', 2.0, 1997.0, Decimal('4744282.207700')),
 ('KENYA                    ', 2.0, 1998.0, Decimal('5615897.608300')),
 ('KENYA                    ', 2.0, None, Decimal('33765310.434800')),
 ('KENYA                    ', 3.0, 1992.0, Decimal('4768063.528600')),
 ('KENYA                    ', 3.0, 1993.0, Decimal('5049824.597100')),
 ('KENYA                    ', 3.0, 1994.0, Decimal('5025328.991100')),
 ('KENYA                    ', 3.0, 1995.0, Decimal('4522404.462200')),
 ('KENYA                    ', 3.0, 1996.0, Decimal('4097861.895800')),
 ('KENYA                    ', 3.0, 1997.0, Decimal('4809480.165500')),
 ('KENYA                    ', 3.0, 1998.0, Decimal('1477030.501100')),
 ('KENYA                    ', 3.0, None, Decimal('29749994.141400')),
 ('KENYA                    ', 4.0, 1992.0, Decimal('4443835.885100')),
 ('KENYA                    ', 4.0, 1993.0, Decimal('5056657.714800')),
 ('KENYA                    ', 4.0, 1994.0, Decimal('4255679.721300')),
 ('KENYA                    ', 4.0, 1995.0, Decimal('4275793.057800')),
 ('KENYA                    ', 4.0, 1996.0, Decimal('4558682.296100')),
 ('KENYA                    ', 4.0, 1997.0, Decimal('5100876.451100')),
 ('KENYA                    ', 4.0, None, Decimal('27691525.126200')),
 ('KENYA                    ', None, 1992.0, Decimal('18844592.312000')),
 ('KENYA                    ', None, 1993.0, Decimal('18350385.061000')),
 ('KENYA                    ', None, 1994.0, Decimal('18141727.756000')),
 ('KENYA                    ', None, 1995.0, Decimal('15906061.428800')),
 ('KENYA                    ', None, 1996.0, Decimal('19400001.386900')),
 ('KENYA                    ', None, 1997.0, Decimal('18496235.758100')),
 ('KENYA                    ', None, 1998.0, Decimal('11739649.018800')),
 ('KENYA                    ', None, None, Decimal('120878652.721600')),
 ('MOROCCO                  ', 1.0, 1992.0, Decimal('1397538.037500')),
 ('MOROCCO                  ', 1.0, 1993.0, Decimal('1632535.383700')),
 ('MOROCCO                  ', 1.0, 1994.0, Decimal('1513751.062500')),
 ('MOROCCO                  ', 1.0, 1995.0, Decimal('1415118.290900')),
 ('MOROCCO                  ', 1.0, 1996.0, Decimal('1854895.628000')),
 ('MOROCCO                  ', 1.0, 1997.0, Decimal('1945105.134600')),
 ('MOROCCO                  ', 1.0, 1998.0, Decimal('1469312.542900')),
 ('MOROCCO                  ', 1.0, None, Decimal('11228256.080100')),
 ('MOROCCO                  ', 2.0, 1992.0, Decimal('1355226.780000')),
 ('MOROCCO                  ', 2.0, 1993.0, Decimal('1318992.359500')),
 ('MOROCCO                  ', 2.0, 1994.0, Decimal('1718603.551300')),
 ('MOROCCO                  ', 2.0, 1995.0, Decimal('1414370.859500')),
 ('MOROCCO                  ', 2.0, 1996.0, Decimal('1777119.347000')),
 ('MOROCCO                  ', 2.0, 1997.0, Decimal('1545321.889000')),
 ('MOROCCO                  ', 2.0, 1998.0, Decimal('1083668.095500')),
 ('MOROCCO                  ', 2.0, None, Decimal('10213302.881800')),
 ('MOROCCO                  ', 3.0, 1992.0, Decimal('1579660.489600')),
 ('MOROCCO                  ', 3.0, 1993.0, Decimal('1808143.881300')),
 ('MOROCCO                  ', 3.0, 1994.0, Decimal('1982299.631800')),
 ('MOROCCO                  ', 3.0, 1995.0, Decimal('1914367.366100')),
 ('MOROCCO                  ', 3.0, 1996.0, Decimal('1570206.954800')),
 ('MOROCCO                  ', 3.0, 1997.0, Decimal('1046858.869700')),
 ('MOROCCO                  ', 3.0, 1998.0, Decimal('377468.707700')),
 ('MOROCCO                  ', 3.0, None, Decimal('10279005.901000')),
 ('MOROCCO                  ', 4.0, 1992.0, Decimal('1476156.336800')),
 ('MOROCCO                  ', 4.0, 1993.0, Decimal('1971992.165200')),
 ('MOROCCO                  ', 4.0, 1994.0, Decimal('1396984.963100')),
 ('MOROCCO                  ', 4.0, 1995.0, Decimal('1774755.672000')),
 ('MOROCCO                  ', 4.0, 1996.0, Decimal('1491400.971700')),
 ('MOROCCO                  ', 4.0, 1997.0, Decimal('1600606.171200')),
 ('MOROCCO                  ', 4.0, None, Decimal('9711896.280000')),
 ('MOROCCO                  ', None, 1992.0, Decimal('5808581.643900')),
 ('MOROCCO                  ', None, 1993.0, Decimal('6731663.789700')),
 ('MOROCCO                  ', None, 1994.0, Decimal('6611639.208700')),
 ('MOROCCO                  ', None, 1995.0, Decimal('6518612.188500')),
 ('MOROCCO                  ', None, 1996.0, Decimal('6693622.901500')),
 ('MOROCCO                  ', None, 1997.0, Decimal('6137892.064500')),
 ('MOROCCO                  ', None, 1998.0, Decimal('2930449.346100')),
 ('MOROCCO                  ', None, None, Decimal('41432461.142900')),
 ('MOZAMBIQUE               ', 1.0, 1992.0, Decimal('6965242.876100')),
 ('MOZAMBIQUE               ', 1.0, 1993.0, Decimal('5700710.116200')),
 ('MOZAMBIQUE               ', 1.0, 1994.0, Decimal('4654343.524900')),
 ('MOZAMBIQUE               ', 1.0, 1995.0, Decimal('4393406.709000')),
 ('MOZAMBIQUE               ', 1.0, 1996.0, Decimal('5222288.767300')),
 ('MOZAMBIQUE               ', 1.0, 1997.0, Decimal('5745892.743700')),
 ('MOZAMBIQUE               ', 1.0, 1998.0, Decimal('4448672.701200')),
 ('MOZAMBIQUE               ', 1.0, None, Decimal('37130557.438400')),
 ('MOZAMBIQUE               ', 2.0, 1992.0, Decimal('5267473.732700')),
 ('MOZAMBIQUE               ', 2.0, 1993.0, Decimal('5563226.025800')),
 ('MOZAMBIQUE               ', 2.0, 1994.0, Decimal('5535359.399400')),
 ('MOZAMBIQUE               ', 2.0, 1995.0, Decimal('4663851.233500')),
 ('MOZAMBIQUE               ', 2.0, 1996.0, Decimal('4937902.847500')),
 ('MOZAMBIQUE               ', 2.0, 1997.0, Decimal('4462141.327700')),
 ('MOZAMBIQUE               ', 2.0, 1998.0, Decimal('4964433.336700')),
 ('MOZAMBIQUE               ', 2.0, None, Decimal('35394387.903300')),
 ('MOZAMBIQUE               ', 3.0, 1992.0, Decimal('5426317.167400')),
 ('MOZAMBIQUE               ', 3.0, 1993.0, Decimal('5446698.529300')),
 ('MOZAMBIQUE               ', 3.0, 1994.0, Decimal('5401216.709400')),
 ('MOZAMBIQUE               ', 3.0, 1995.0, Decimal('5298974.507600')),
 ('MOZAMBIQUE               ', 3.0, 1996.0, Decimal('6200750.613400')),
 ('MOZAMBIQUE               ', 3.0, 1997.0, Decimal('4467361.466500')),
 ('MOZAMBIQUE               ', 3.0, 1998.0, Decimal('2494566.571200')),
 ('MOZAMBIQUE               ', 3.0, None, Decimal('34735885.564800')),
 ('MOZAMBIQUE               ', 4.0, 1992.0, Decimal('5309316.859300')),
 ('MOZAMBIQUE               ', 4.0, 1993.0, Decimal('6017842.958800')),
 ('MOZAMBIQUE               ', 4.0, 1994.0, Decimal('5783781.119700')),
 ('MOZAMBIQUE               ', 4.0, 1995.0, Decimal('5657364.541800')),
 ('MOZAMBIQUE               ', 4.0, 1996.0, Decimal('4772788.557500')),
 ('MOZAMBIQUE               ', 4.0, 1997.0, Decimal('5163647.334000')),
 ('MOZAMBIQUE               ', 4.0, None, Decimal('32704741.371100')),
 ('MOZAMBIQUE               ', None, 1992.0, Decimal('22968350.635500')),
 ('MOZAMBIQUE               ', None, 1993.0, Decimal('22728477.630100')),
 ('MOZAMBIQUE               ', None, 1994.0, Decimal('21374700.753400')),
 ('MOZAMBIQUE               ', None, 1995.0, Decimal('20013596.991900')),
 ('MOZAMBIQUE               ', None, 1996.0, Decimal('21133730.785700')),
 ('MOZAMBIQUE               ', None, 1997.0, Decimal('19839042.871900')),
 ('MOZAMBIQUE               ', None, 1998.0, Decimal('11907672.609100')),
 ('MOZAMBIQUE               ', None, None, Decimal('139965572.277600')),
 (None, 1.0, 1992.0, Decimal('17317462.328700')),
 (None, 1.0, 1993.0, Decimal('15207320.897000')),
 (None, 1.0, 1994.0, Decimal('14947126.362300')),
 (None, 1.0, 1995.0, Decimal('12734105.840200')),
 (None, 1.0, 1996.0, Decimal('15259433.714500')),
 (None, 1.0, 1997.0, Decimal('17418523.263100')),
 (None, 1.0, 1998.0, Decimal('14912537.900100')),
 (None, 1.0, None, Decimal('107796510.305900')),
 (None, 2.0, 1992.0, Decimal('16458398.548800')),
 (None, 2.0, 1993.0, Decimal('15329026.121300')),
 (None, 2.0, 1994.0, Decimal('16007497.035300')),
 (None, 2.0, 1995.0, Decimal('14665803.959200')),
 (None, 2.0, 1996.0, Decimal('16111785.612700')),
 (None, 2.0, 1997.0, Decimal('15355923.862000')),
 (None, 2.0, 1998.0, Decimal('16078987.245100')),
 (None, 2.0, None, Decimal('110007422.384400')),
 (None, 3.0, 1992.0, Decimal('16427516.107800')),
 (None, 3.0, 1993.0, Decimal('17629614.349900')),
 (None, 3.0, 1994.0, Decimal('16988871.314700')),
 (None, 3.0, 1995.0, Decimal('15824431.236000')),
 (None, 3.0, 1996.0, Decimal('16624284.777000')),
 (None, 3.0, 1997.0, Decimal('15579227.427300')),
 (None, 3.0, 1998.0, Decimal('6807916.038300')),
 (None, 3.0, None, Decimal('105881861.251000')),
 (None, 4.0, 1992.0, Decimal('15064839.744200')),
 (None, 4.0, 1993.0, Decimal('17998547.729600')),
 (None, 4.0, 1994.0, Decimal('16021382.994500')),
 (None, 4.0, 1995.0, Decimal('16966751.388400')),
 (None, 4.0, 1996.0, Decimal('15330608.899400')),
 (None, 4.0, 1997.0, Decimal('16197925.646300')),
 (None, 4.0, None, Decimal('97580056.402400')),
 (None, None, 1992.0, Decimal('65268216.729500')),
 (None, None, 1993.0, Decimal('66164509.097800')),
 (None, None, 1994.0, Decimal('63964877.706800')),
 (None, None, 1995.0, Decimal('60191092.423800')),
 (None, None, 1996.0, Decimal('63326113.003600')),
 (None, None, 1997.0, Decimal('64551600.198700')),
 (None, None, 1998.0, Decimal('37799441.183500')),
 (None, None, None, Decimal('421265850.343700'))]

# Quiz 13.1

What is the minimum revenue registered by the suppliers in America in 1992 ?

Round up the number to the nearest integer.

In [55]:
%%sql
WITH cube AS (
    SELECT olquantity, partretailprice, oldiscount,
           orderdate, nationname, regionname, orderpriority,
           olquantity * partretailprice * (1-oldiscount) AS revenue,
           DATE_PART('YEAR', orderdate) AS orderyear,
           DATE_PART('QUARTER', orderdate) AS orderquarter,
           DATE_PART('MONTH', orderdate) AS ordermonth,
           DATE_PART('WEEK', orderdate) AS orderweek
    FROM orderline ol
    JOIN orders o      ON ol.orderid = o.orderid
    JOIN supplypart sp ON ol.partId = sp.partId AND ol.supplierId = sp.supplierId
    JOIN part p        ON sp.partId = p.partId
    JOIN supplier s    ON sp.supplierId = s.supplierId
    JOIN nation sn     ON s.nationId = sn.nationId
    JOIN region sr     ON sn.regionId = sr.regionId
)
SELECT min(revenue)
FROM cube
WHERE regionname = 'AMERICA' AND
    orderyear = 1992

 * postgresql://postgres:***@postgres:5432/tpch-db
1 rows affected.

[(Decimal('909.953600'),)]

In [66]:
%%sql
WITH cube AS (
    SELECT olquantity, partretailprice, oldiscount,
           orderdate, nationname, regionname, orderpriority,
           olquantity * partretailprice * (1-oldiscount) AS revenue,
           DATE_PART('YEAR', orderdate) AS orderyear,
           DATE_PART('QUARTER', orderdate) AS orderquarter,
           DATE_PART('MONTH', orderdate) AS ordermonth,
           DATE_PART('WEEK', orderdate) AS orderweek
    FROM orderline ol
    JOIN orders o      ON ol.orderid = o.orderid
    JOIN supplypart sp ON ol.partId = sp.partId AND ol.supplierId = sp.supplierId
    JOIN part p        ON sp.partId = p.partId
    JOIN supplier s    ON sp.supplierId = s.supplierId
    JOIN nation sn     ON s.nationId = sn.nationId
    JOIN region sr     ON sn.regionId = sr.regionId
)
SELECT nationname, orderyear, SUM(revenue)
FROM cube 
WHERE regionname = 'AFRICA'
--GROUP BY CUBE(nationname, orderyear)
GROUP BY ROLLUP(nationname, orderyear)
ORDER BY (nationname, orderyear)

 * postgresql://postgres:***@postgres:5432/tpch-db
41 rows affected.

[('ALGERIA                  ', 1992.0, Decimal('8568744.120100')),
 ('ALGERIA                  ', 1993.0, Decimal('9816982.595600')),
 ('ALGERIA                  ', 1994.0, Decimal('9097585.234900')),
 ('ALGERIA                  ', 1995.0, Decimal('9168430.092400')),
 ('ALGERIA                  ', 1996.0, Decimal('8137148.275900')),
 ('ALGERIA                  ', 1997.0, Decimal('10714639.429400')),
 ('ALGERIA                  ', 1998.0, Decimal('5554601.734600')),
 ('ALGERIA                  ', None, Decimal('61058131.482900')),
 ('ETHIOPIA                 ', 1992.0, Decimal('9077948.018000')),
 ('ETHIOPIA                 ', 1993.0, Decimal('8537000.021400')),
 ('ETHIOPIA                 ', 1994.0, Decimal('8739224.753800')),
 ('ETHIOPIA                 ', 1995.0, Decimal('8584391.722200')),
 ('ETHIOPIA                 ', 1996.0, Decimal('7961609.653600')),
 ('ETHIOPIA                 ', 1997.0, Decimal('9363790.074800')),
 ('ETHIOPIA                 ', 1998.0, Decimal('5667068.474900')),
 ('ETHIOPIA                 ', None, Decimal('57931032.718700')),
 ('KENYA                    ', 1992.0, Decimal('18844592.312000')),
 ('KENYA                    ', 1993.0, Decimal('18350385.061000')),
 ('KENYA                    ', 1994.0, Decimal('18141727.756000')),
 ('KENYA                    ', 1995.0, Decimal('15906061.428800')),
 ('KENYA                    ', 1996.0, Decimal('19400001.386900')),
 ('KENYA                    ', 1997.0, Decimal('18496235.758100')),
 ('KENYA                    ', 1998.0, Decimal('11739649.018800')),
 ('KENYA                    ', None, Decimal('120878652.721600')),
 ('MOROCCO                  ', 1992.0, Decimal('5808581.643900')),
 ('MOROCCO                  ', 1993.0, Decimal('6731663.789700')),
 ('MOROCCO                  ', 1994.0, Decimal('6611639.208700')),
 ('MOROCCO                  ', 1995.0, Decimal('6518612.188500')),
 ('MOROCCO                  ', 1996.0, Decimal('6693622.901500')),
 ('MOROCCO                  ', 1997.0, Decimal('6137892.064500')),
 ('MOROCCO                  ', 1998.0, Decimal('2930449.346100')),
 ('MOROCCO                  ', None, Decimal('41432461.142900')),
 ('MOZAMBIQUE               ', 1992.0, Decimal('22968350.635500')),
 ('MOZAMBIQUE               ', 1993.0, Decimal('22728477.630100')),
 ('MOZAMBIQUE               ', 1994.0, Decimal('21374700.753400')),
 ('MOZAMBIQUE               ', 1995.0, Decimal('20013596.991900')),
 ('MOZAMBIQUE               ', 1996.0, Decimal('21133730.785700')),
 ('MOZAMBIQUE               ', 1997.0, Decimal('19839042.871900')),
 ('MOZAMBIQUE               ', 1998.0, Decimal('11907672.609100')),
 ('MOZAMBIQUE               ', None, Decimal('139965572.277600')),
 (None, None, Decimal('421265850.343700'))]

In [69]:
%%sql
WITH cube AS (
    SELECT olquantity, partretailprice, oldiscount,
           orderdate, nationname, regionname, orderpriority,
           olquantity * partretailprice * (1-oldiscount) AS revenue,
           DATE_PART('YEAR', orderdate) AS orderyear,
           DATE_PART('QUARTER', orderdate) AS orderquarter,
           DATE_PART('MONTH', orderdate) AS ordermonth,
           DATE_PART('WEEK', orderdate) AS orderweek
    FROM orderline ol
    JOIN orders o      ON ol.orderid = o.orderid
    JOIN supplypart sp ON ol.partId = sp.partId AND ol.supplierId = sp.supplierId
    JOIN part p        ON sp.partId = p.partId
    JOIN supplier s    ON sp.supplierId = s.supplierId
    JOIN nation sn     ON s.nationId = sn.nationId
    JOIN region sr     ON sn.regionId = sr.regionId
)
SELECT nationname, orderyear, SUM(revenue)
FROM cube 
WHERE regionname = 'AFRICA'
GROUP BY (nationname, orderyear)
UNION ALL (
    SELECT nationname, NULL as orderyear, SUM(revenue)
    FROM cube
    GROUP BY nationname
)

 * postgresql://postgres:***@postgres:5432/tpch-db
60 rows affected.

[('ALGERIA                  ', 1992.0, Decimal('8568744.120100')),
 ('ALGERIA                  ', 1993.0, Decimal('9816982.595600')),
 ('ALGERIA                  ', 1994.0, Decimal('9097585.234900')),
 ('ALGERIA                  ', 1995.0, Decimal('9168430.092400')),
 ('ALGERIA                  ', 1996.0, Decimal('8137148.275900')),
 ('ALGERIA                  ', 1997.0, Decimal('10714639.429400')),
 ('ALGERIA                  ', 1998.0, Decimal('5554601.734600')),
 ('ETHIOPIA                 ', 1992.0, Decimal('9077948.018000')),
 ('ETHIOPIA                 ', 1993.0, Decimal('8537000.021400')),
 ('ETHIOPIA                 ', 1994.0, Decimal('8739224.753800')),
 ('ETHIOPIA                 ', 1995.0, Decimal('8584391.722200')),
 ('ETHIOPIA                 ', 1996.0, Decimal('7961609.653600')),
 ('ETHIOPIA                 ', 1997.0, Decimal('9363790.074800')),
 ('ETHIOPIA                 ', 1998.0, Decimal('5667068.474900')),
 ('KENYA                    ', 1992.0, Decimal('18844592.312000')),
 ('KENYA                    ', 1993.0, Decimal('18350385.061000')),
 ('KENYA                    ', 1994.0, Decimal('18141727.756000')),
 ('KENYA                    ', 1995.0, Decimal('15906061.428800')),
 ('KENYA                    ', 1996.0, Decimal('19400001.386900')),
 ('KENYA                    ', 1997.0, Decimal('18496235.758100')),
 ('KENYA                    ', 1998.0, Decimal('11739649.018800')),
 ('MOROCCO                  ', 1992.0, Decimal('5808581.643900')),
 ('MOROCCO                  ', 1993.0, Decimal('6731663.789700')),
 ('MOROCCO                  ', 1994.0, Decimal('6611639.208700')),
 ('MOROCCO                  ', 1995.0, Decimal('6518612.188500')),
 ('MOROCCO                  ', 1996.0, Decimal('6693622.901500')),
 ('MOROCCO                  ', 1997.0, Decimal('6137892.064500')),
 ('MOROCCO                  ', 1998.0, Decimal('2930449.346100')),
 ('MOZAMBIQUE               ', 1992.0, Decimal('22968350.635500')),
 ('MOZAMBIQUE               ', 1993.0, Decimal('22728477.630100')),
 ('MOZAMBIQUE               ', 1994.0, Decimal('21374700.753400')),
 ('MOZAMBIQUE               ', 1995.0, Decimal('20013596.991900')),
 ('MOZAMBIQUE               ', 1996.0, Decimal('21133730.785700')),
 ('MOZAMBIQUE               ', 1997.0, Decimal('19839042.871900')),
 ('MOZAMBIQUE               ', 1998.0, Decimal('11907672.609100')),
 ('VIETNAM                  ', None, Decimal('123401005.774200')),
 ('PERU                     ', None, Decimal('83513651.967700')),
 ('ALGERIA                  ', None, Decimal('61058131.482900')),
 ('ARGENTINA                ', None, Decimal('59804766.758900')),
 ('JAPAN                    ', None, Decimal('83306346.038400')),
 ('IRAQ                     ', None, Decimal('41954110.642400')),
 ('CANADA                   ', None, Decimal('59611425.218200')),
 ('INDONESIA                ', None, Decimal('101371212.748200')),
 ('FRANCE                   ', None, Decimal('43574220.136100')),
 ('JORDAN                   ', None, Decimal('19843722.683900')),
 ('MOROCCO                  ', None, Decimal('41432461.142900')),
 ('ROMANIA                  ', None, Decimal('99149291.356600')),
 ('IRAN                     ', None, Decimal('39236926.907600')),
 ('EGYPT                    ', None, Decimal('121943744.388300')),
 ('SAUDI ARABIA             ', None, Decimal('20423431.330100')),
 ('RUSSIA                   ', None, Decimal('102011648.841700')),
 ('BRAZIL                   ', None, Decimal('42579612.725600')),
 ('UNITED STATES            ', None, Decimal('164414923.601900')),
 ('CHINA                    ', None, Decimal('146615727.915400')),
 ('GERMANY                  ', None, Decimal('103886407.370900')),
 ('INDIA                    ', None, Decimal('104863976.830200')),
 ('UNITED KINGDOM           ', None, Decimal('62362938.513900')),
 ('MOZAMBIQUE               ', None, Decimal('139965572.277600')),
 ('KENYA                    ', None, Decimal('120878652.721600')),
 ('ETHIOPIA                 ', None, Decimal('57931032.718700'))]

### Part 2: MDX (Optional)

Choose one of the queries you wrote in SQL and implement it in MDX.